// Place all the styles related to the StudentInformations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#display{
  float:right;
  margin-right: 50px;

}
#bottomLink{
  margin-left: 50px;
}


th,td{

   text-align: center;


}

section{
  padding-left:10px;
  padding-right:10px;
}
